
/*Body*/

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Font Sizing*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* background */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: radial-gradient(
    rgb(30, 40, 50),
    rgb(10, 20, 30)
  ); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 
/*Text*/
:root {
  --font-color: linen;
}

body {
  position: relative;
  display: grid;

}

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgb(255, 102, 0),
    orangered,
    red
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}


h1 {
  font-family: Cairo, sans-serif;
  font-size: 7rem;
  font-weight: 900;
  color: var(--font-color);
}

h2 {
  font-family: Merienda, serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #242f61;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.3rem;
  font-weight: 100;
}

h4 {
  font-family: Cairo, sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
}

/* Main Body */

img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
  max-width: 500px;
}



hr {
  margin: 1.5rem 0;
  border: 1px solid rgba(120, 120, 120, 0.6);
}

/*ID's*/



#navbar {
  background-color: var(--font-color);
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-shadow: 0px 0.5px 15px 0px rgb(90, 90, 90);
}

#space {
  letter-spacing: 10px;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
}

#projects {
  width: 100%;
  height: 90vh;
  padding: 1.5rem;
  display: grid;
}

#p-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 2rem;
}

#project-link {
  width: 100%;
  height: 15%;
  position: absolute;
  top: 90vh;
}

#contact {
  width: 100%;
  padding: 2.5%;
  bottom: 0;
  background-color: var(--font-color);
  display: flex;
  justify-content: center;
  flex-direction: coloumn;
  align-items: center;
  font-size: 3rem;
  gap: 3rem;
  color: rgb(30, 40, 50);
}

#social-icon {
  max-width: 3rem;
}

#social-icon:hover {
  filter: opacity(0.75) blur(0px) drop-shadow(0 0 0 rgb(200, 200, 200)); 
  transition-duration: 1s;
}

#profile-link {
  max-width: 3rem;
}

#profile-link:hover {
  filter: opacity(0.75) blur(0px) drop-shadow(0 0 0 rgb(200, 200, 200)); 
  transition-duration: 1s;
}

/*Classes*/
.nav-link {
  padding: 10px;
  color: rgb(48, 48, 48)
}

.nav-link:hover {
  color: rgb(100, 100, 100)
}

.quote {
  font-size: 4rem;
  text-align: center;
}

.project-tile {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  place-items: center;
} 


.link-text {
  background: linear-gradient(
    45deg,
    rgb(255, 102, 0),
    orangered,
    red
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  z-index: -1;
  color: var(--font-color);
  border-radius: 0px 0px 15px 0px;
}

.project-img:hover {
  filter: opacity(0.75) blur(1px) drop-shadow(0 0 0 rgb(200, 200, 200)); 
  transition-duration: 1s;
}

/*Media Queries*/
/* 1200px */
@media (min-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 0px) {

  #p-tiles {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  }
}

@media (min-width: 641px) {

  #p-tiles {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1008px) {

  #p-tiles {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  }
}
